@page
@model AppStationery.Pages_StationeryQuotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StationeryQuote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.PrintingStationery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.PrintingStationery.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.QuoteNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.QuoteNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.ReferenceNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.ReferenceNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.QuotedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.QuotedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.QuotePerCopyPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.QuotePerCopyPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.QuotePerBookPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.QuotePerBookPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.ApprovedPerCopyPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.ApprovedPerCopyPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.ApprovedPerBookPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.ApprovedPerBookPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.MinmumOrderQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.MinmumOrderQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.Branch.BranchName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.TenantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.TenantId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.ApprovalState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.ApprovalState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.ApprovedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.ApprovedBy.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.ApprovedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.ApprovedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StationeryQuote.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StationeryQuote.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <form method="get">
        <input type="hidden" name="id" value="@Model.StationeryQuote.StationeryQuoteId" />
        <button type="submit" formaction="./Edit" class="btn btn-primary">Edit</button>
        <button type="submit" formaction="./Index" class="btn btn-secondary">Back to List</button>
    </form>
 </div>

<form method="post">
    <div class="form-group">
        <button type="submit" asp-page-handler="Approval" asp-route-id="@Model.StationeryQuote.StationeryQuoteId" class="btn btn-primary">
            @if (Model.StationeryQuote.ApprovalState == AppStationery.Model.ApprovalState.Approved)
            {
                <span>Unapprove</span>
            }
            else
            {
                <span>Approved</span>
            }
        </button>
        <button type="submit" asp-page-handler="Active" asp-route-id="@Model.StationeryQuote.StationeryQuoteId" class="btn btn-secondary">
            @if (Model.StationeryQuote.IsActive)
            {
                <span>Deactive</span>
            }
            else
            {
                <span>Active</span>
            }
        </button>
    </div>
</form>
