@page
@model AppStationery.Pages_StationeryQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button type="button" onclick ="location.href ='@Url.Page("./Create")'" class="btn btn-primary">Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].PrintingStationery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].QuoteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].ReferenceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].QuotedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].QuotePerCopyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].QuotePerBookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].ApprovedPerCopyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].ApprovedPerBookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].MinmumOrderQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationeryQuote[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if(Model.StationeryQuote != null && Model.StationeryQuote != null && Model.StationeryQuote.Any())
{
    @foreach (var item in Model.StationeryQuote)
    {
        <tr>
        <td>
                @Html.DisplayFor(modelItem => item.PrintingStationery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotedOn)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.QuotePerCopyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotePerBookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedPerCopyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedPerBookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinmumOrderQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
        
            <td>
                <button type="button" onclick="location.href='@Url.Page("./Edit", new { id = item.StationeryQuoteId })'" class="btn btn-primary">Edit</button> |
                <button type="button" onclick="location.href='@Url.Page("./Details", new { id = item.StationeryQuoteId })'" class="btn btn-secondary">Details</button> |
                <button type="button" onclick="location.href='@Url.Page("./Delete", new { id = item.StationeryQuoteId })'" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    }
}
    </tbody>
</table>
